nav.navbar.fixed-top.menustyle
  ul.navbar.mr-auto.my-auto
    a.navbar-brand.menutitle(href='./home.html') Dispond
    a.nav-link.menuitem(href='/teste.html') Home
    a.nav-link.menuitem(href='#') My Tasks
    a.nav-link.menuitem(href='#') Contact
    a.nav-link.menuitem(href='#') Teste