nav.navbar.fixed-top
  ul.navbar.mr-auto
    a.navbar-brand(href='./home.html') Dispond
    a.nav-link(href='/teste.html') Home
    a.nav-link(href='#') My Tasks
    a.nav-link(href='#') Contact
    a.nav-link(href='#') Teste