nav.col-sm-3.col-md-2.hidden-xs-down.bg-faded.sidebar
    ul.nav.nav-pills.flex-column
        li.nav-item
            a.nav-link.active(href='./dashboard')
                | Task List
            span.sr-only (current)
        li.nav-item
            a.nav-link(href='./addtask') New task 
        li.nav-item
            a.nav-link(href='/edit') Edit task
        li.nav-item
            a.nav-link(href='/remove') Remove task