doctype html
html(lang='en')
  include includes/header.pug
  body  
    include includes/menu.pug
    .container-fluid
      .row
        include includes/side-menu.pug
        main.col-sm-9.offset-sm-3.col-md-10.offset-md-2.pt-3
          h2 Task List
          .table-responsive
            table.table.table-striped
              thead
                tr
                  th Task Name
                  th Who is Responsible
                  th Date
                  th Edit
              tbody
              each task in myJson
                tr
                  td= task.taskname
                  td= task.responsible
                  td= task.date
                  td
                    a(href="/task/edit/"+task._id) Edit

  include includes/scripts.pug
