doctype html
html(lang='en')
  include includes/header.pug
  body
    include includes/menu.pug
    .container-fluid
      .row
        include includes/side-menu.pug
        main.col-sm-4.offset-sm-3.col-md-5.offset-md-2.pt-3
          h2 Add new task!
          form(action='/add', method='POST')
            .form-group
              label(for='taskname') Task Name:
              input#taskname.form-control(type='text', name='taskname')
            .form-group
              label(for='responsible') Resposible:
              input#resposible.form-control(type='text', name='responsible')
            .form-group
              label(for='date') Date:
              input#date.form-control(type='date', name='date')
            input.btn.btn-primary(type='submit', value='Add Task')
  include includes/scripts.pug